$main-bg: #1E1E1E;
$main-text-color: #FEFEFE;
$second-shadow-color: #f68605;
$box-text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px $second-shadow-color, 0 0 20px $second-shadow-color, 0 0 25px $second-shadow-color, 0 0 30px $second-shadow-color, 0 0 35px $second-shadow-color;

