.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.item-wrapper {
  width: calc(100%/8);
  height: calc((100vw/8)*1.5);
  max-height: 700px;
  padding: 2px;
}

@media screen and (orientation: portrait){
  .item-wrapper {
    width: calc(100%/4);
    height: calc((100vw/4)*1.5);
    max-height: 700px;
    padding: 2px;
  }
}
